/*se agrego receteo de html */
html{
    font-size: 62.5%;
}

*{
    margin:0;
    padding:0;
}
body{
background-image: url(./images/Papeles\ digitales\ Dragon\ Ball\ Z\ \(1\).jpeg);
background-color: rgb(54, 104, 196);   

}

#letra{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
    
.title {
    display: flex;

    justify-content: space-between ;  
    background-color: rgb(223, 114, 51);    
}
.title img{
    width: 35%;
}

.divImgTitulo{
    display: flex;
    justify-content: center;
    width: 40%;
}

.inp{
    text-align: center;
    height: 30px;
    font-size: 14px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    width: 30rem;
    border-radius: 50px;
    margin-top: 1rem;
    
    
}
#button{
    width: 15rem; 
    height:3rem ;
    margin-bottom: 4rem;
    border-radius: 50px;
    background-color:rgb(83, 81, 190) ;
    font-size: 1.5rem;
}

#button:hover{
    scale: 110%;
    background-color: rgb(255, 108, 23) ;;
    
}

#buttonHis{
    width: 15rem; 
    height:3rem ;
    margin-top: 1rem;
    border-radius: 50px;
    background-color:rgb(83, 81, 190) ;
    font-size: 1.5rem;
}
#buttonHis:hover{
    scale: 110%;
    background-color: rgb(255, 108, 23) ;;
    
}

.barraBusqueda{
    display: grid;
    width: 25%;
    margin-left: 2rem;
}

.buttonHisBox{
    width: 25%;
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
}


.Imagen {
    width: 500px;
    height: 500px;
}
.Div {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    border: rgb(2, 1, 1) solid 2px;
    border-radius: 3rem;
    width: 80%;
    height: 35rem;
    background-color: rgb(219, 103, 36) ;
    
}
.Div p{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin: 15px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    min-height: 100vh;
    
      
}
.Imagen{
    width: 200px;
    height: 300px;
}
.Nombre{
    margin-left: 1rem;
    margin-bottom: 30rem;
}

#footer{
    background-color: rgb(223, 114, 51);
    bottom: 0;
    width: 100%;
    height: 8rem;
    color: rgb(0, 0, 0);
  }

  