/*se agrego reseteo de html */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}


#contenedor{
    background-image: url(./imagenes/francisco-segovia-bg-goku-house-firma.jpg);
    background-repeat: no-repeat;    
    background-color: rgb(54, 104, 196);
    background-size: cover;
    background-position: center;
    display: grid;
    justify-items: center;
   
    

}


#letra {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: rgb(223, 114, 51, 0.8);
  box-shadow: 10px 10px 20px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
  width: 100%;

}

.title img {
  width: 40%;
}

.divImgTitulo {
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

.inp {
  text-align: center;
  height: 30px;
  font-size: 14px;
  border-radius: 6px;
  color: rgb(0, 0, 0);
  width: 30rem;
  border-radius: 50px;
  margin-top: 1rem;
  box-shadow: 2px 2px 5px rgb(25, 25, 25),
  -5px -5px 100px rgb(60, 60, 60);
}

#button {
  width: 15rem;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 50px;
  background-color: rgb(83, 81, 190);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 20px 1px #002fff;
  border: 1px solid rgb(0, 4, 255);
}

#button:hover {
  scale: 110%;
  background-color: rgb(255, 108, 23);
  box-shadow: 0px 0px 20px 1px #ff9100;
  border: 1px solid rgb(255, 115, 0);
}

#buttonHis,
#buttonFav {
  width: 15rem;
  height: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 50px;
  background-color: rgb(83, 81, 190);
  font-size: 1.5rem;
  box-shadow: 0px 0px 20px 1px #002fff;
  border: 1px solid rgb(0, 4, 255);
}

#buttonHis:hover,
#buttonFav:hover {
  scale: 110%;
  background-color: rgb(255, 108, 23);
  box-shadow: 0px 0px 20px 1px #ff9100;
  border: 1px solid rgb(255, 115, 0);
}

.barraBusqueda {
  width: 39%;
  margin-left: 2rem;
}

.buttonBoxFavHis {
  width: 40;
}

.buttonHisBox {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}









#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /*position: relative;*/
    height: 100vh
    
}


#footer {
  background-color: rgb(223, 114, 51, 0.8);
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 10px 10px 20px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
    width: 100%;
}

.texto-footer {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 2rem;
}
.autores-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.5rem;
}
.autores-footer ul{
  list-style: none;
}

/*estilos para la carta de personaje*/
.Div p { 
    width: 100%; 
     
}
.Div {
    margin-top: 7rem;
    display: flex;
    /*justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;*/
    border: rgb(2, 1, 1) solid 2px;
    border-radius: 3rem;
    width: 70%;
    background-color: rgb(223, 114, 51, 0.8);
   margin-bottom: 6rem; 
   box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
}
  

.divNombre{
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  width: 30%;
  
 

}

.Nombre {
font-size:clamp(1.2rem, 5vw, 5rem) ;

}

.divHistoria{
  font-size: clamp(1.2rem, 1.3vw, 4rem);
  width: 60%;
  display: grid;
  align-items: center
  
}

.divKis{
  font-size: clamp(1.2rem, 1vw, 5rem);
  width: 35%;
  
  

}
.Imagen{
  width: 70%;
  display: block;
  
  
  
}



/*aca terminan los estilos de la carta*/

button{
  background-color: rgba(240, 248, 255, 0);
  border: none;
  
  
}

.container {
    background-color: rgba(36, 36, 36, 0);
    display: flex;
    align-items: center;
    gap: 14px;
    /* padding: 10px 15px 10px 10px; */
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    /*box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;*/
    color: rgb(211, 29, 29);
    
  }

  
  
  /* Cards Favoritos */
  .divFavoritos, h3{
    margin-bottom: 6rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border: rgb(2, 1, 1) solid 2px;
    border-radius: 3rem;
    width: 50%;
    background-color: rgb(223, 114, 51, 0.8);
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -15px -15px 30px rgb(60, 60, 60);
  }

  .hidden{
    display: none;
  }

  #card-favs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .imgFav{
    max-height: 100px;
    max-width: 100px;
  }

  .card-name {
    font-size: 2rem;
    text-align: center;
  }

  /* Check Favoritos */
  #favorite {
    display: none;
    
  }
  
  #favorite:checked + .container svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
    
  }
  
  @keyframes heartButton {
    0% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(1.3);
    }
  
    50% {
      transform: scale(1);
    }
  
    75% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  #favorite + .container .action {
    position: relative;
    overflow: hidden;
    display: grid;
  }
  
  #favorite + .container .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all 0.5s;
  }
  
  #favorite + .container .action span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  
  #favorite:checked + .container .action span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
  }
  
  #favorite + .container .action span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
  }
  
  #favorite:checked + .container .action span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
  }



  